body {
  box-sizing: border-box;
  background-image: url(../img/repeated-square-dark.png);
  color: white;

  font-family: "Roboto", sans-serif;
  font-size: large;

  .content {
    h1 {
      font-size: 48px;
      color: orange;
      padding: 1rem;
    }

    #selectField {
      text-align: center;
      margin: auto;

      .select {
        padding: 0.25rem;
      }
    }

    #dimensions {
      margin: auto;
      text-align: center;

      h4 {
        margin-top: 2.5rem;
        color: orange;
      }

      .txt {
        padding: 0.25rem;
      }

      .txtCargo {
        margin-bottom: -0.05rem;
      }

      .valueDimensions {
        margin: auto;
        margin-top: -1.125rem;
        background-color: white;
        color: black;
        width: 50%;
      }

      input {
        text-align: center;
        width: 50%;
      }
    }

    #btnAdding {
      width: 50%;
      margin: auto;
      margin-top: 2rem;
      padding: 0.5rem;
    }
  }

  #footer {
    background-image: url(../img/noise_lines.png);

    margin-top: 300px;

    h5 {
      color: black;
      padding: 0.5rem;
    }

    a {
      text-decoration: none;
    }
  }
}
