body {
  box-sizing: border-box;
  background-image: url(../img/repeated-square-dark.png);
  color: white;

  font-family: "Roboto", sans-serif;
  font-size: large;

  .content {
    h1 {
      padding: 1em;
    }

    #selectField {
      text-align: center;

      .select {
        padding: 0.25em;
      }

      #btnAdding {
        margin: auto;
      }
    }

    #dimensions {
      text-align: center;

      h4 {
        margin-top: 2.5em;
      }

      .txt {
        padding: 0.25em;
      }

      .dimensions {
        margin: auto;
        margin-top: -1.125em;
        background-color: white;
        color: black;
        width: 50%;
      }
    }
  }

  #footer {
    background-image: url(../img/noise_lines.png);

    margin-top: 300px;

    h5 {
      color: black;
      padding: 0.5em;
    }

    a {
      text-decoration: none;
    }
  }
}
